In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import preprocessing, svm
from sklearn import linear_model
import sklearn.model_selection as ms
import sklearn.metrics as sklm
import seaborn as sns
import matplotlib
import math
from sklearn.metrics import accuracy_score

In [2]:
matplotlib.style.use('ggplot')

In [3]:
train=pd.read_csv("file:///C:/Users/Avinash/Downloads/csv file/all/train.csv")
test=pd.read_csv("file:///C:/Users/Avinash/Downloads/csv file/all/test.csv")

In [4]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [132]:
train.shape

(891, 12)

In [133]:
test.shape

(418, 11)

In [134]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [136]:
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [137]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [138]:
train=train.drop(labels=['Cabin'],axis=1)

In [139]:
train['Age'].fillna(train['Age'].mean(),inplace=True)

In [140]:
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [144]:
train=train.dropna(axis=0)

In [145]:
train.count()

PassengerId    889
Survived       889
Pclass         889
Name           889
Sex            889
Age            889
SibSp          889
Parch          889
Ticket         889
Fare           889
Embarked       889
dtype: int64

In [146]:
test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [147]:
test['Age'].fillna(test['Age'].mean(),inplace=True)
test=test.drop(labels=['Cabin'],axis=1)

In [148]:
test=test.dropna(axis=0)

In [149]:
test.shape

(417, 10)

In [234]:
features=train['Sex']
enc=preprocessing.LabelEncoder()
enc.fit(features)
features=enc.transform(features)
ohe=preprocessing.OneHotEncoder()
encoded=ohe.fit(features.reshape(-1,1))
features=encoded.transform(features.reshape(-1,1)).toarray()

c:\users\avinash\appdata\local\programs\python\python37\lib\site-packages\sklearn\preprocessing\_encoders.py:363: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [151]:
features1=train['Embarked']
enc=preprocessing.LabelEncoder()
enc.fit(features1)
features1=enc.transform(features1)
ohe=preprocessing.OneHotEncoder()
encoded=ohe.fit(features1.reshape(-1,1))
features1=encoded.transform(features1.reshape(-1,1)).toarray()

c:\users\avinash\appdata\local\programs\python\python37\lib\site-packages\sklearn\preprocessing\_encoders.py:363: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [235]:
features.dtype

dtype('float64')

In [163]:

train.Pclass=train.Pclass.astype(float)
train.SibSp=train.SibSp.astype(float)
train.Parch=train.Parch.astype(float)

In [236]:
features=np.concatenate([features,np.array(train[['Pclass','Age','Fare','SibSp']])],axis=1)

In [222]:
features=np.concatenate([features,features1],axis=1)

In [237]:
labels=np.array(train['Survived'])

In [238]:
print(labels.shape)
features.shape

(889,)

(889, 6)

In [246]:
scaler=preprocessing.StandardScaler().fit(features[:,3:])
features[:,3:]=scaler.transform(features[:,3:])

In [247]:
index=range(features.shape[0])

In [248]:
index=ms.train_test_split(index,test_size=0.2)

In [249]:
x_train=features[index[0],:]
y_train=np.ravel(labels[index[0]])
x_test=features[index[1],:]
y_test=np.ravel(labels[index[1]])

In [250]:
features=preprocessing.scale(features)

In [251]:
x_test.shape

(178, 6)

In [252]:
x_test.shape

(178, 6)

In [139]:
x_train, y_train, x_test, y_test=ms.train_test_split(features,labels,test_size=0.2)

In [257]:
lin_model=linear_model.LogisticRegression()

In [258]:
lin_model.fit(x_train,y_train)

c:\users\avinash\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [259]:
pred_y=lin_model.predict(x_test)

In [263]:
accuracy_score(y_test,pred_y)

0.7752808988764045

In [ ]:

lm.coef_